.photoDiv img {
    transform: scaleX(-1);
    width: 70%;
    animation: float 5s ease-in-out infinite;
}

.photoDiv {
    background-image: url(../assets/imgs/shape.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-right: -25px;
}

.textDiv {
    font-size: 1.8em;
    flex-grow: 4;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.textDiv h3 {
    color: var(--yellow);
    line-height: 0.8;
}

.textDiv h1 {
    color: var(--red);
}

.textDiv p {
    padding-top: 20px;
}